# build
dist/                # build outputs
.astro/              # generated types
public/*.ico         # generated icons from svg

# dependencies
node_modules/

# runtime
*.log

# environment
.env
.env.production

# OS specifics
.DS_Store

# IDE specifics
.idea/
